
<h2><%= @task.name %></h2>
<p><%= @task.details %></p>
<%= link_to "Task List", tasks_path %>
<%= link_to "Delete",
  rtask_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
